/.idea
/vendor
/www/images
/public/build
/public/appfiles/*/*
/public/appfiles/*/*/*
/public/css
/resources/css
/config/local
/node_modules
.env
.DS_Store
Thumbs.db
composer.lock
composer.phar
.project
/.settings

!public/appfiles/
!public/appfiles/*/thumbs/
!index.html
!.gitkeep